PORT=3000
DATABASE_URL=postgresql://user:password@localhost:5432/allfast
EVENT_SLUG=tailgate-thursday-2026-09-03
EVENT_NAME=Tailgate Thursday
EVENT_DATE=September 3, 2026
FACEBOOK_URL=https://www.facebook.com/ALLFASTSupply/
INSTAGRAM_URL=https://www.instagram.com/allfastsupply
GOOGLE_REVIEW_URL=https://g.page/r/CZ8MDzS2WY6AEAE/review
ADMIN_PASSWORD=change-this
PUBLIC_URL=http://localhost:3000
